/*
  Displays span list in a 10x20 grid
  #grid-id === main grid
  #next-piece-grid-id === small grid for next piece
*/

#grid-id {
	border: ridge 0.5vw gray !important;
	display: grid;
	position: fixed;
	top: 5vh;
	left: 2vw;
	grid-template-columns: repeat(10, min(4vh, 5vw));
	grid-template-rows: repeat(20, min(4vh, 5vw));
}

#next-piece-grid-id {
	border: ridge 0.5vw gray !important;
	display: grid;
	position: fixed;
	top: 5vh;
	left: calc(min(4vh, 5vw) * 10 + 5vw);
	grid-template-columns: repeat(4, min(4vh, 5vw));
	grid-template-rows: repeat(4, min(4vh, 5vw));
}

/* Grid cell css */
#grid-id > span {
	border: solid 1px black;
}
#grid-id > span > div {
	width: 50%;
	height: 50%;
	margin: auto;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Next piece grid cell css */
#next-piece-grid-id > span {
	border: solid 1px black;
}
#next-piece-grid-id > span > div {
	width: 50%;
	height: 50%;
	margin: auto;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Cell color css */
.background {
	background-color: #333333;
}
.white {
	background: linear-gradient(to bottom right, rgb(255, 255, 255) 0 50%, rgb(50, 50, 50) 50% 100%);
}
.white > div {
	background-color: #bbbbbb;
}
.red {
	background: linear-gradient(to bottom right, rgb(255, 90, 90) 0 50%, rgb(50, 00, 00) 50% 100%);
}
.red > div {
	background-color: #bb0000;
}
.green {
	background: linear-gradient(to bottom right, rgb(90, 255, 90) 0 50%, rgb(00, 50, 00) 50% 100%);
}
.green > div {
	background-color: #00bb00;
}
.blue {
	background: linear-gradient(to bottom right, rgb(90, 90, 255) 0 50%, rgb(00, 00, 50) 50% 100%);
}
.blue > div {
	background-color: #0000bb;
}
.yellow {
	background: linear-gradient(to bottom right, rgb(255, 255, 90) 0 50%, rgb(50, 50, 00) 50% 100%);
	background-color: #999900;
}
.yellow > div {
	background-color: #bbbb00;
}
.magenta {
	background: linear-gradient(to bottom right, rgb(255, 90, 255) 0 50%, rgb(50, 00, 50) 50% 100%);
}
.magenta > div {
	background-color: #bb00bb;
}
.orange {
	background: linear-gradient(to bottom right, rgb(255, 120, 0) 0 50%, rgb(50, 30, 0) 50% 100%);
}
.orange > div {
	background-color: #bb6600;
}
.cyan {
	background: linear-gradient(to bottom right, rgb(0, 255, 255) 0 50%, rgb(0, 50, 50) 50% 100%);
}
.cyan > div {
	background-color: #00bbbb;
}
.black {
	background: linear-gradient(to bottom right, rgb(50, 50, 50) 0 50%, rgb(10, 10, 10) 50% 100%);
}
.black > div {
	background-color: #111111;
}
